# Environment variables for autoCard - Example
# Copy this file to .env and replace with your actual values.

PORT=3001
MONGODB_URI=mongodb://localhost:27017/autoCardDB_dev

# Add other environment variables here if needed
# Example: API_KEY=your_api_key_here_if_you_have_one
